@import "tailwindcss";
@import "./styles/markdown.css";

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme {
  /* 🌞 Light Theme */
  --color-primary: #2563EB;
  --color-secondary: #F97316;
  --color-accent: #F97316;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-text: #1E293B;
  --color-muted: #64748B;

  /* 🌌 Dark Theme */
  --color-dark-bg: #0F172A;
  --color-dark-surface: #1E293B;
  --color-dark-text: #E2E8F0;
  --color-dark-muted: #94A3B8;

  /* 🌈 Gradient */
  --bg-hero-gradient: linear-gradient(135deg, var(--color-primary), var(--color-secondary));

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer theme {
  :root {
    color-scheme: light;
    --anchor-offset: 7rem;
  }

  :root.dark {
    color-scheme: dark;

    --color-background: var(--color-dark-bg);
    --color-surface: var(--color-dark-surface);
    --color-text: var(--color-dark-text);
    --color-muted: var(--color-dark-muted);
  }
}

@layer utilities {

  .text-3xl,
  .text-4xl,
  .text-5xl {
    line-height: 1.4;
    padding-bottom: 0.1em;
  }
}

@layer base {
  html {
    font-family: "Inter", "JetBrains Mono", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: var(--anchor-offset);
    background-color: var(--color-background);
    color: var(--color-text);
  }

  body {
    min-height: 100vh;
    background-color: var(--color-background);
  }
}